/**** Expertise ****/
* {
    color: white;
}

.expertise {
    margin-bottom: 400px;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



h5 {
    margin-top: 10px;
    
    font-weight: 600;
    line-height: 1.2em;
    float: left;
    font-size: 50px;
}

ul {
    margin-top: 80px;

}

li {
    font-size: 24px;
}

.left-list {
    text-align: left;
    margin-left: 20px;
}

.img {
    filter: brightness(0) invert(1);
    width: 30%;
    height: auto;
    float: right;
}



con {
    margin-top: 500px;
}