
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.navBar a {
    cursor: pointer;
    font-family: monospace;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.navBar a:hover {
    color: rgb(235, 235, 235);
}