/* 
.home {
    
    text-align: center;
}

.blur{
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.7); 
}

.centeredRow {
    width: 60%;
}

.name {
    font-family: monospace;
    font-size: 55px;
    margin-bottom: 0px;
}

.career {
    font-size: 35px;
    font-family: monospace;
    margin-top: 0px;
} */