/**** Footer ****/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #8c8888, rgb(102, 102, 222));
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.github, .linkedIn{
    width: 25px;
    height: auto;
    margin: 0 10px;
}

.linkedIn {
    filter: invert(100%);
}