/* body {
    color: black;
    height: auto;
    margin: 0 auto;
    font-family: monospace;
    
} */

/* bigDiv {
    background-image: url("assets/greenSmallBackground.png");
    background-position: 50%;
    background-size: cover; Use cover for a better background scaling
} */

/* .homediv {
    
    min-height: 700px; Use min-height for flexibility 
} */


