/**** About Me ****/
.aboutMe {
    height: 300px;
    text-align: center;
    
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    margin-bottom: 500px;
}


.aboutMeInfo {
    font-size: 25px;
}