/**** About Me ****/
.aboutMe {
    
    text-align: center;
    
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 40%;
}


.aboutMeInfo {
    font-size: 25px;
}